<span class="moneyback">
  <a href="" ng-click="toggle60Day = !toggle60Day">
    <span class="sixtyday-text">60 Day </span> Guarantee
  </a>

  <div ng-if="toggle60Day" class="toggled60">
    <img class="sixtydayfooter" src="<%= image_url("60day-guarantee.png") %>">
    If for any reason you are not satisfied with your purchase,
    <a href="mailto:hello@simplyanaddress.com">contact us</a>
    within 60 days of purchasing and we will issue a full refund. 
  </div>
</span>