<div class="pages" ng-controller="MainController">
  <div class="firstpanel" style="background-image: url(<%= image_url("firstpanel.jpg") %>);">
    <h1>Fully Managed Miners</h1>
    <h2>Invest in servers that mine Alt Coins</h2>
    <% if controller_name == 'pages' %>
      <%= link_to "Start Mining", new_user_registration_path, class: "btn" %>
    <% end %>
    <table>
      <tr>
        <td><i class="ion-checkmark-circled text-success"></i></td>
        <td>Fully Managed Miners</td>
      </tr>
      <tr>
        <td><i class="ion-checkmark-circled text-success"></i></td>
        <td>$2,800 Per Miner <small>(Good for 2 years of mining) or <a href="mailto:orders@theminerco.com">contact us</a> for custom orders.</small></td>
      </tr>
      <tr>
        <td><i class="ion-checkmark-circled text-success"></i></td>
        <td>Maintenance and Electricity Included</td>
      </tr>
      <tr>
        <td><i class="ion-checkmark-circled text-success"></i></td>
        <td>We are partners and split payouts 50/50</td>
      </tr>
    </table>
  </div>
  
  <%= render 'secondpanel' %>
</div>