<div class="pages" ng-controller="MainController">
  <div class="firstpanel" style="background-image: url(<%= image_url("people.jpg") %>); background-position: center;">
    <div class="gradient-overlay">
      <h1>Rent a business address today!</h1>
      <p>Create that <b><em>local feel</em></b> and attract new customers.</p>
      <% if controller_name == 'pages' %>
        <a ng-click="scrollTo('addressContent')" class="btn btn-primary">Search Addresses</a>
        <%#= link_to "Rent an address", new_user_registration_path, class: "btn" %>
      <% end %>
      <!-- <div class="container">
        <img class="sixtyday" src="<%#= image_url("60day-guarantee.png") %>">
        <div>
          <%#= render 'moneyback' %>
        </div>
      </div> -->
    </div>
  </div>
  
  <%= render 'secondpanel' %>
</div>