<div class="pages" ng-controller="MainController">
  <div class="firstpanel" style="background-image: url(<%= image_url("Jumbo-City.jpg") %>); background-position: bottom center;">
    <div class="gradient-overlay">
      <h1>Just an address. No Frills.</h1>
      <h2>Establish a physical presence, virtually, for multiple locations, all at once.</h2>
      <% if controller_name == 'pages' %>
        <a ng-click="scrollTo('addressContent')" class="btn">See Addresses</a>
        <%#= link_to "Rent an address", new_user_registration_path, class: "btn" %>
      <% end %>
      <!-- <div class="container">
        <img class="sixtyday" src="<%#= image_url("60day-guarantee.png") %>">
        <div>
          <%#= render 'moneyback' %>
        </div>
      </div> -->
    </div>
  </div>
  
  <%= render 'secondpanel' %>
</div>