<div class="second-panel">
  <h1>How it Works</h1>
  <div class="one-third">
    <%= image_tag("Intro Screen 1.png") %>
    <h3>Browse through addresses</h3>
    <p>Find ones you want and start a subscription. Real addresses, no PO Boxes.</p>
  </div>
  <div class="one-third">
    <%= image_tag("Intro Screen 2.png") %>
    <h3>Pay how you'd like</h3>
    <p>Pay virtually upfront for a discounted price or go month to month for maximum flexibility.</p>
  </div>
  <div class="one-third">
    <%= image_tag("Intro Screen 4.png") %>
    <h3>Make it work for you</h3>
    <p>Go Ahead! Put it on your website, business cards or marketing material. Open new markets by creating that 'local' feel.</p>
  </div>
  <div class="clearfix"></div>
</div>

<div class="second-panel">
  <h3>Testimonials</h3>
</div>