<div class="panel">
  <h2>Why Add My Wallet?</h2>
  <table>
    <tr>
      <td><i class="ion-record text-muted small"></i></td>
      <td>Ether is transferred directly to your wallet as soon as a payout happens (every 3 to 5 days).</td>
    </tr>
    <tr>
      <td><i class="ion-record text-muted small"></i></td>
      <td>If you don't currently have a wallet, get one here: <a href="https://www.blockchain.com/">Blockchain Wallet.</a></td>
    </tr>
    <tr>
      <td><i class="ion-record text-muted small"></i></td>
      <td>Monitor your payouts by watching your wallet increase in Ether.</td>
    </tr>
    <tr>
      <td><i class="ion-record text-muted small"></i></td>
      <td>Make sure your wallet address is correct. We cannot refund payments sent to the wrong wallet address.</td>
    </tr>
  </table>
</div>