<div class="wallets">
  <div class="subnav">
    <%= link_to dashboard_index_path do %>
      <i class="ion-chevron-left small"></i> Back to Dashboard
    <% end %>
  </div>
  <div class="panel">
    <h1>Add Your Wallet</h1>
    <%= render 'form', wallet: @wallet %>
  </div>

  <div class="panel">
    <h2>Why Add My Wallet?</h2>
    <table>
      <tr>
        <td><i class="ion-record text-muted small"></i></td>
        <td>Ether is transferred directly to your wallet as soon as the pool pays.</td>
      </tr>
      <tr>
        <td><i class="ion-record text-muted small"></i></td>
        <td>If you don't currently have a wallet, get one here: <a href="https://www.blockchain.com/">Blockchain Wallet.</a></td>
      </tr>
    </table>
  </div>
</div>