@media screen and (max-width: 800px) {

  .hide-mobile {
    display: none;
  }
  
  .pages {

    h1 {
      font-size: 2.5em !important;
    }

    .firstpanel {
      padding: 0 !important;
      height: 400px;

      .btn {
        width: 300px !important;
        margin: auto;
      }

      .gradient-overlay {
        padding: 3em 10px !important;
        height: 400px;
      }
    }

    .third-panel {
      padding: 60px 0 !important;

      .header {
        width: 90%;
        margin: auto;
      }

      .left {
        width: 70%;
      }
      .right {
        width: 30%;
      }
    }
  }
  
  .dashboard .left-panel,
  .dashboard .right-panel,
  .dashboard .table-label,
  .dashboard table {
    width: 100%;
  }

  .dashboard .left-panel {
    height: inherit;
  }

  .transactions {
    .transaction-number {
      display: none;
    }

    h1 {
      padding: 10px 10px 0;
    }

    .transaction-number-mobile {
      display: inherit;
    }
  }

}