.navbar {
  background-color: #fff;
  min-height: 70px;
  border-bottom: 1px solid rgba(0,0,0,.1);

  a {
    text-decoration: none;
    font-weight: 600;
    font-size: 120%;

    &.active {
      color: #F5A623;
    }
  }

  .ion-navicon {
    display: none;
  }

  .navbar-brand {
    font-size: 150%;
  }

  .left {
    width: 10%
  }

  .right {
    width: 90%;
  }

  img {
    height: 45px;
    margin-top: 7.5px;
  }

  .right {
    text-align: right;
    float: right;
    padding: 15px 0;

    a {
      margin-left: 20px; 
    }

    .currency {
    }

    img {
      border-radius: 15px;
      height: 60px;
      width: 60px;
      object-fit: cover;
    }
  }

  .navbody {
    padding: 5px 10px;
  }

  .pr-1 {
    padding-right: 10px;
  }

  .navdropdown {
    background-color: #fff;
    position: absolute;
    top: 70px;
    right: 10px;
    width: 300px;
    border: 3px solid rgba(0,0,0,.15);
    border-top: 2px solid rgba(0,0,0,.15);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {

        &:first-child {
          border-top: 2px solid rgba(0,0,0,.1);
        }

        &:hover {
          background-color: #eee;
        }

        padding: 10px;
        border: 1px solid rgba(0,0,0,.1);

        a {
          font-size: 100%;
        }
      }
    }
  }
}

.subnav {
  background-color: rgba(0,0,0,.1);
  padding: 15px;

  a {
    font-weight: 800;
  }
}

.footer {
  background-color: #eee;
  padding: 20px;
  border-top: 1px solid #ccc;

  .right {
    text-align: right;
  }

  a {
    padding: 0 10px;
  }

  i {
    display: none;
  }

  .toggled60 {
    border: 1px solid rgba(0,0,0,.2);
    padding: .25em;
    text-align: center;
    margin-bottom: 1em;

    a {
      padding: 0;
    }

    img {
      margin: auto;
    }
  }

  .sixtydayfooter {
    display: inherit !important;
    width: 60px;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .email {
    display: none;
  }

  .panel {
    margin: 0 !important;
  }

  .navbar .ion-navicon {
    display: inherit;
    font-size: 2em;
    line-height: 0;
  }

  .footer {
    padding: 15px 20px 20px;

    i {
      font-size: 3em;
      line-height: 0;
      padding: 10px 20px;
      display: inherit;
    }

    .left {
      display: none;
    }

    .right {
      width: 100%;
      text-align: center;
    }

    .moneyback {
      vertical-align: 12px;
    }

    .sixtyday-text {
      display: none;
    }
  }
}

