.servers {
  .panel {
    margin: 0 auto;
  }

  table {
    .btn {
      display: table-row !important;
    }
  }
}

.panel-info {
  text-align: center;
  .btn {
    font-size: 140%;
    padding: 10px 25px;
  }
}