.wallets {

  .card {
    border-radius: 8px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }

  .btn {
    min-width: 120px;
  }
  
  h2 {
    color: #222 !important;
    text-shadow: none !important;
    word-break: break-word;
    font-size: 110%;
  }

  .withdrawal {
    text-align: left;
    padding: 20px 0;
  }

  .panel {
    margin-top: 60px;
  }
}
