<div ng-init="angularAddresses = <%= @addresses.to_json %>; transactionData = <%= @addresses_for_current_user_flattened.to_json %>;">
  <table class="table-address">
    <tr>
      <th>State</th>
      <th>City</th>
      <th>Street</th>
      <th>Status</th>
    </tr>
    <tr ng-repeat="address in angularAddresses | filter: searchQuery" ng-if="addressOwned(address.id)">
      <td>
        {{address.city}}
      </td>
      
      <td>
        {{address.street}}<span ng-if="address.street_2">, {{address.street_2}}</span>
      </td>
      <td>
        {{address.state}}
      </td>
      <td>
        <span ng-if="address.status == 0">Draft</span>
        <span ng-if="address.status == 1">Published</span>
      </td>
    </tr>
  </table>
</div>
