 <ul class="list-group">
  <li>
    <h3>What forms of payment do you accept?</h3>
    We require payment via PayPal's secure gateway. PayPal accepts all major credit cards. We do not take payment via check, money order, Western Union, or wire transfer at this time.
  </li>
  <li>
    <h3>What is the mininum rental length?</h3>
    We offer one year rentals for as low as $4.99 per address. Discounts are applied for purchases longer than a year.
  </li>
  <li>
    <h3>Do I have to purchase new software or hardware?</h3>
    No additional hardware or software. Simply login to your account via our secure cloud and you’re ready to go! What happens to any mail that is sent to this address? It is important to understand that any mail that is received at our locations will be directly discarded and/or shredded without being opened.
  </li>
  <li>
    <h3>How do I reset my password?</h3>
    You can easily reset your password <a href="/users/password/new">here</a>.
  </li>
  <li>
    <h3>How can I get this service in a city you currently do not offer?</h3>
    We are aggressively expanding our service to multiple city domestically and internationally. Contact us to see when we will be offering our services in your desired city.
  </li>
  <li>
    <h3>How do I cancel my mailbox account?</h3>
    We're sorry to lose you as a customer, but we understand that sometimes things happen and changes need to be made. To close your mailbox account, please email us at <a href="mailto:hello@simplyanaddress.com" target="_blank">hello@simplyanaddress.com</a>.
  </li>
</ul>
