<div class="footer">
  <div class="left">The Mining Co, LLC</div>
  <div class="right">
    <a href="">About</a>
    <a href="">FAQs</a>
    <a href="mailto:orders@theminingco.com">Contact Us</a>
  </div>
  <div class="clearfix"></div>
</div>