<div class="footer">
  <div class="left">The Miner Co (HHG, LLC)</div>
  <div class="right">
<!--     <a href="">About</a>
    <a href="">FAQs</a> -->
    <a href="mailto:orders@theminerco.com">Contact Us</a>
  </div>
  <div class="clearfix"></div>
</div>